* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background-color: #111;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 400px;
}

.square {
	width: 16px;
	height: 16px;
	background-color: #1d1d1d;
	box-shadow: 0 0 2px #000;
	margin: 2px;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}
